.display{
	font-family:helvetica;
}
.display *{

}
.node{
	fill:#338DA3;
}
.link{
	stroke:rgba(0,0,0,0);
}
.nodeText{
	fill:black;
	text-anchor: end;
}

#svgcontainer {
  position: absolute;
  top: 40px;
  height: 400;
  width: 50%;
  left: 0;
}

#versecontainer {
  position: absolute;
  top: 40px;
  height: 400;
  width: 50%;
  right: 0px;
  overflow: auto;
}
