.display{
	font-family:helvetica;
}
.display *{

}
.node{

}
.link{
	stroke:rgba(0,0,0,0);
}
.nodeText{
	fill:black;
	text-anchor: end;
}

#svgcontainer {
  position: absolute;
  top: 40px;
  height: 400;
  width: 70%;
  left: 0;
}

#versecontainer {
  position: absolute;
  top: 40px;
  height: 400;
  width: 30%;
  right: 40px;
  margin: 15px;
  overflow: auto;
  border-image:url("LightWeave_Sidebar-02.png");
}


#colorcontainer {

}
